$maxwidth: 100%;
$Merriweather: 'Merriweather sans-serif';
$Varta: 'Varta sans-serif';
$Karla: 'Karla sans-serif';
$greyDark: #534B42;
$greylight: #706458;
$terracotta: #A06056;

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 0;
}

body{
    background-color: #F3EEE8;
}

img{
    max-width: $maxwidth;
}

.container{
    max-width: $maxwidth;
    width: 1140px;
    margin: 0 auto;
}

// HEADER

.header{
    margin-top: 60px;
    display: flex;
    justify-content: space-between;

    &__navigator{
        display: flex;
        justify-content: space-between;
        align-items: center;
        max-width: $maxwidth;
        width: 470px;

        &__link{
            text-decoration: none;
            font-family: $Varta;
            font-weight: 400;
            font-size: 18px;
            line-height: 25px;
            color: $greylight;

            &__img{
                width: 94px;
            }
        }
    }

    &__image{
        width: 50px;
        position: relative;
        right: 30px;
    }
}

// HERDER END

// MAIN

.into{
    display: flex;
    justify-content: space-between;
    margin-top: 130px;
    position: relative;

    &__block{
        max-width: $maxwidth;
        width: 420px;

        &__lable{
            font-family: $Varta;
            font-weight: 700;
            font-size: 14px;
            line-height: 20px;
            letter-spacing: 1px;
            color: #A06056;
            text-transform: uppercase;
        }

        &__title{
            margin-bottom: 53px;
            font-family: $Merriweather;
            font-weight: 700;
            font-size: 64px;
            line-height: 77px;
            color: $greylight;
        }

        &__text{
            margin-bottom: 32px;
            font-family: $Varta;
            font-weight: 400;
            font-size: 18px;
            line-height: 30px;
            color: $greylight;
        }

        &__button{
            width: 50px;
        }
    }

    &__image{
        width: 600px;
        position: absolute;
        right: 0;
        top: -247px;
        object-fit: cover;
        z-index: -1;
    }
}

.room{
    margin-top: 64px;

    &__list{
        display: flex;
        justify-content: space-between;
        margin: 48px 0;
        list-style: none;
        
        &__item{
            font-family: $Varta;
            font-weight: 400;
            font-size: 18px;
            line-height: 25px;
            color: #706458e6;
            position: relative;
        
            &:nth-child(odd){
                width: 165px;
            }

            &:nth-child(even){
                position: relative;
            }

            &__img{
                width: 261px;
            }

            &__title{
                position: absolute;
                top: 135px;
                right: -110px;
                font-family: $Merriweather;
                font-weight: 400;
                font-size: 55px;
                line-height: 60px;
                letter-spacing: -0.6px;
                color: $terracotta;
            }
        }
    }

    &__page{
        display: flex;
        justify-content: space-between;
        width: 265px;

        &__text:nth-child(1){
            font-family: $Varta;
            font-weight: 400;
            font-size: 18px;
            line-height: 25px;
            color: #706458e6;
            opacity: 0.5;
        }

        &__text:nth-child(2){
            font-family: $Karla;
            font-weight: 700;
            font-size: 20px;
            line-height: 25px;
            letter-spacing: 0.3px;
            color: $terracotta;
        }
    }
}

.project{
    margin: 134px 0 74px;
    display: flex;
    justify-content: space-between;

    &__stay{
        max-width: $maxwidth;
        width: 458px;

        &__title{
            font-family: $Merriweather;
            font-weight: 300;
            font-size: 55px;
            line-height: 60px;
            letter-spacing: -0.6px;
            color: $greylight
        }

        &__text{
            margin-top: 35px;
            font-family: $Karla;
            font-weight: 700;
            font-size: 17px;
            line-height: 25px;
            letter-spacing: 0.3px;
            color: $terracotta;
            background: #F3EEE8;
            border: none;
        }
    }

    &__list{
        max-width: $maxwidth;
        width: 546px;
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        gap: 30px;
        list-style: none;

        &__item{
            max-width: $maxwidth;
            width: 258px;

            &__title{
                font-family: $Varta;
                font-weight: 600;
                font-size: 25px;
                letter-spacing: -0.2px;
                color: $terracotta;
            }
            
            &__text{
                margin-top: 22px;
                font-family: $Varta;
                font-weight: 400;
                font-size: 18px;
                line-height: 25px;
                color: #706458e6;
            }
        }
    }
}

// MAIN END

// FOOTER

.footer{
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    &__list{
        display: flex;
        justify-content: space-between;
        margin-bottom: 48px;
        
        li{
            margin-bottom: 12px;
            font-family: $Varta;
            font-weight: 400;
            font-size: 18px;
            line-height: 25px;
            color: $greylight;
        }

        &__item{
            display: flex;
            flex-direction: column;
            
            h3{
                margin-bottom: 22px;
                font-family: $Merriweather;
                font-weight: 700;
                font-size: 34px;
                line-height: 25px;
                letter-spacing: 2px;
                color: $greyDark;
            }

            ul{
                margin-bottom: 22px;
                list-style: none;
            }

            h4{
                font-family: $Varta;
                font-weight: 600;
                font-size: 25px;
                line-height: 30px;
                letter-spacing: -0.2px;
                color: $greyDark;
            }

            &__planet{
                max-width: $maxwidth;
                width: 235px;
                
                &__title{
                    font-family: $Varta;
                    font-weight: 600;
                    font-size: 25px;
                    line-height: 30px;
                    letter-spacing: -0.2px;
                    color: $greyDark;
                }

                &__text{
                    font-family: $Varta;
                    font-weight: 400;
                    font-size: 16px;
                    line-height: 25px;
                    color: $greylight;
                }

                a{
                    font-family: $Karla;
                    font-weight: 700;
                    font-size: 17px;
                    line-height: 25px;
                    letter-spacing: 0.3px;
                    color: $terracotta;
                }
            }

        }
    }

    &__setting{
        display: flex;
        justify-content: space-between;
        margin-bottom: 64px;
        height: 77px;

        &__copy{
            align-self: flex-end;
            font-family: $Varta;
            font-weight: 400;
            font-size: 16px;
            line-height: 25px;
            color: saddlebrown;
        }

        &__socials{
            display: flex;
            justify-content: space-between;
            max-width: $maxwidth;
            width: 200px;

            &__item{
                width: 32px;
                cursor: pointer;
            }
        }

        &__policy{
            display: flex;
            justify-content: space-between;
            align-self: flex-end;
            max-width: $maxwidth;
            width: 390px;
            list-style: none;

            &__item{
                margin-left: 32px;
                font-family: $Varta;
                font-weight: 400;
                font-size: 16px;
                line-height: 25px;
                color: $greylight;
                cursor: pointer;
            }
        }
    }
}

// FOOTER END